/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 14px;
}

body {
    background-color: lightgreen;
}

main {
    margin-top: 30px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.headline-h1 {
    font-size: 3.5rem;
    font-weight: 600;
}
