/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 12pt;
}

body {
    background-color: lightsteelblue;
}

main {
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.headline-h1 {
    display: inline-flex;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    background-color: ghostwhite;
    border: none;
    border-radius: 5px;
}

article {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    background-color: ghostwhite;
    border: none;
    border-radius: 3px;
}

hr {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 6px;
    margin: 2px 0;
    color: black;
    background-color: black;
}

dl {
    margin: 10px;
    padding: 10px;
    background-color: ghostwhite;
    border: none;
    border-radius: 3px;
}

dt {
    font-size: 1.7rem;
    font-weight: 600;
}

dd {
    font-style: italic;
    margin-left: 10px;
    color: white;
}
