/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 12pt;
}

body {
    background-color:aquamarine;
}

main {
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.headline-h1 {
    display: inline-flex;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    background-color: ghostwhite;
    border: none;
    border-radius: 5px;
}

form fieldset {
    border: 2px solid #ddd;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

form legend {
    background-color: #007bff;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

form label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 5px;
    color: black;
}

form input[type=text] {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 2px 5px;
    padding: 2px 5px;
    color: black;
    background: #FFFFFF;
    border: 2px solid black;
    border-radius: 3px;
}

form textarea {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 2px 5px;
    padding: 2px 5px;
    color: black;
    background: #FFFFFF;
    border: 2px solid black;
    border-radius: 3px;
}

form input[type=submit] {
    font-size: 1.2em;
    font-weight: 500;
    padding: 2px 5px;
    color: black;
    background-color: rgb(230, 192, 192);
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
}

form input[type=submit]:active {
    box-shadow: inset 2px 2px 2px;
}

article {
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: ghostwhite;
    border: none;
    border-radius: 3px;
}

hr {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 6px;
    margin: 2px 0;
    color: black;
    background-color: black;
}

dl {
    margin: 10px;
    padding: 10px;
    background-color: ghostwhite;
    border: none;
    border-radius: 3px;
}

dt {
    font-size: 1.7rem;
    font-weight: 600;
}

dd {
    font-style: italic;
    margin-left: 10px;
    color: white;
}